*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}
.top{
    height: 60px;
    background-color:#262626;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 4;
}
.top .top_a{
    color: white;
    padding: 10px 20px;
    background-color:#82b440;
    text-decoration: none;
    border-radius: 5px;
    font-size:14px ;
  
    
}
.container{
    height:700px;
    padding-top: 60px;
    
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(petiopic/alaksiej-carankievic-JBDYs80RTcs-unsplash.jpg) no-repeat scroll center / cover;
}

.header{
    display: flex;   
    height: 120px;                                                                                                            
    align-items: center;
    justify-content: space-between;
    padding:0px 100px ;
}
.header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.header ul a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 0px 20px;
    
}
.header_a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
}
.box{
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around; 
   
      
}
.box1{
    width: 540px;

    position: absolute;
    bottom: -2px;
    left: 0;
}
.box1 img{
    width: 100%;
}
.box2{
    position: absolute;
    text-align: center;
    bottom: 96px;
    left: 360px;
    width: 750px;
}
.box2 h1{
    font-size: 80px;
}
span{
    color: #DD5903;
}
.box2 .box2_a1,.box2 .box2_a2{
    color: white;
    text-decoration: none;
    transition: transform 1s;
}
.box2 .box2_a1{
    padding: 12px 20px;
    background-color: #DD5903;
    
}
.box2 .box2_a1:hover{
    transform: translateY(3px);
    background-color: #d15604;
   
}
.box2 .box2_a2{
    padding: 10px 18px;
    border: 2px solid white;
   
}
.box2 .box2_a2:hover{
    transform: translateY(3px);
    background-color: white;
    color: black;

}
.box2 p{
    font-size: 20px;
    padding-bottom:50px;
}
.box3{
    width: 540px;
    position:absolute;
    bottom: -2px;
    right: 0;
}
.box3 img{
    width: 100%;
}
.wapper{
    margin-top: 100px;
}
.wapper1{
    width: 50%;
    text-align: center;
    margin: 50px  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.wapper1 h3{
    color: #DD5903;
}
.wapper1 h1{
    font-size: 56px;
    padding-top: 10px;
}
.wapper2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}
.wapper21{
    width: 320px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}
.wapper21 img{
    width: 100%;
}
.wapper21 h2{
    padding-bottom: 15px;
}
.section1{
    padding-top: 100px;
    background-color: #fbf6f3;
}
.section11{
    margin:0px auto;
    width: 80%;
    text-align: center;

}
.section11 h3{
    color: #DD5903;
}
.section11 h1{
    font-size: 60px;
}
.section11 h1,.section11 h3,.section11 p{
    padding-bottom: 16px;
}
.section12{
    width: 85%;
    margin: 10px auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section121,.section121s{
    width: 335px;
    margin: 30px;
    text-align: center;
    position: relative;

    
}

.section121 img,.section121s img{
    width: 100%;
    height: 430px;
    box-shadow: 4px 4px 8px grey;
    margin-bottom: 18px;
    transition: transform 0.5s;
    z-index:1;
    
}
.section121 img:hover,.section121s img:hover{
    transform: translateY(-10px);
}
 .section121s::before{
    content: "";
    position: absolute;
    background: url(petiopic/new-label.png) no-repeat scroll center / cover;
    height: 23px;
    width: 42px;
    top: -12px;
    left: -20px;
    z-index: 2;
    border-radius: 5px;
}
.section2{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(petiopic/mads-eneqvist-zqiE16q_Ju0-unsplash.jpg) no-repeat scroll center / cover;
    text-align: center;
    padding: 50px 0px;
    color: white;
    
}
.section2 img,.section2 h1,.section2 h3,.section2 ul{
    width: 700px;
    margin: 0px auto;
}
.section2 h1{
    font-size: 54px;
}
.section2 h3{
    color: #DD5903;
}

.section2 ul{
    width:900px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #DD5903;
    padding-left: 65px;
    margin: 80px auto;
}
.section2 ul li{
    margin: 0px 60px;
}
.same{
    position: relative;
    z-index: 2;
}
.same .chokor,.same .rotet{
    position: absolute;
    z-index: 3;
    top: -20px;
    left: -75px;
    width: 70px;
    height: 70px;
    border: 1px solid #DD5903;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}